psycopg2-binary==2.7.*
celery==4.1.*
requests==2.18.*
pillow==5.0.*
PyYaml==3.12.*
psutil==5.4.*
raven==6.8.*

Django==2.0.*

djangorestframework==3.8.*
# django-rest-swagger==2.1.*
drf-yasg==1.6.*
django-debug-toolbar==1.9.*
django-redis==4.9.*
